.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.info {
  width: 21%;
  /* height: 80vh; */
  /* border: gray; */
  border: 5px solid pink;
  /* border-width: 5px; */
  margin-left: 37%;
  padding: 10px;
  padding-left: 26px;
}



img {
  width: 300px;
  border-radius: 10px;
}

.data {
  width: 150px;
}

h4 {
  margin-top: 0px;
}

p {
  margin-bottom: 5px;
}