.App {
    height: 100vh;
    width: 100%;
    background: #d6e0ea;
    text-align: center;
    padding-top: 180px;
}

.Fisrtpage {
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    padding-left: 501px;
}

h1.textdiv {
    text-align: center;
}

button.btn {
    margin-left: 60px;
    margin-top: 120px;
    height: 40px;
    width: 200px;
    background: #e087aa;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

img {
    width: 500px;
    border-radius: 10px;
}